body { 
	text-align: center;
	margin: 0;}
 
 h1 {font-family: raleway;
 	color: #0D2C40;
 	letter-spacing: 8px;
 	font-weight: 400;
 	font-size: 45px;
 	margin: 0;}

 a {font-family: raleway;
 	color: #F15B31;
 	letter-spacing: 1px;
 	font-weight: 600;
 	font-size: 20px;}

 p {color: black;}

 h2 {font-family: raleway;
 	color: #0D2C40;
 	letter-spacing: 1px
 	font-weight: 600;
 	font-size: 30px;}

 header {
 	background-color: #F15B31;
 	padding: 30px 20px 30px 20px;
 	font-color: grey;
 	margin: 0;
 }

 body {margin: 0;
 }

 nav a{ 
 	background-color: #00A6B3;
 	padding: 20px 0px 20px 0px;
 	display: inline; }
 	
 main { width: 850px;
 	margin: 35px, auto; }

 img {margin: 40px 8px;}

 footer {
 	text-transform: uppercase;
 	padding: 0px 20px;
 	background-color: #0D2C40;
 	color: white;
 	font-size: 14px;
 	letter-spacing: 0.8em;
 	font-weight: 500;


 }

 .copyright {
 	font-family: Raleway;
 	float: left;
 }

 .message {
 	font-family: Raleway;
 	float: left;
 }
 .clearfix: after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 500;

}